page-profil {
    .lebar-menu{
        height: 200px;
    }
        
    ion-card.cards-list-demo ion-card-header {
        color: map-get($colors, primary);
    }

    .badge-header{
        // margin-top: 5vw;
        margin-right: 5vw;
        #add-icon {
            font-size: 10vw;
            font-weight: 400;
        }
    }

    // .profile-desc {
    //     // margin-top: 2vw;
    //     margin-bottom: 5vw;
    // }

    .card-item {
        height: 25vw;
    }
    ion-card {
        .footer_card {
            padding: 10px 10px 1px 10px;
            
            .card_content {
                display: inline-block;
                width: auto;
                margin-left: -3%;
                #event_title {
                    font-weight: 700;
                    color: #FF3080
                }
                // #organizer_event {

                // }
                #hashtag_event {
                    font-size: 3vw;
                }
                #tanggal_event {
                    font-size: 2.5vw;
                }

            }
            
            .like
            {
                position: absolute;
                display: inline-block;
                right : 5px; 
                top : -40px;
            #icon_like{
                display:inline;
                } 
                #jumlah{
                    display : inline;
                    font-size: 3vw;
                }    
            }  
            

        }

    }
    
}
