<ion-header>

  <ion-navbar color="eventarich">
    <ion-title>Filter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p ion-text color="eventarich">Jenis Acara</p> 

    <ion-list no-padding>
        <ion-item no-lines *ngFor="let category of categories; let i = index">
            <ion-label color="eventarich" class="my-label">{{ category.categoryName }}</ion-label>
            <ion-checkbox [(ngModel)]="checkedCategory[i]"></ion-checkbox>
        </ion-item>
    </ion-list>
    
    <ion-list class="rentang-waktu" no-lines>
        <ion-item>
            <ion-label ion-text color="eventarich">Rentang Waktu</ion-label>
            <ion-toggle [(ngModel)]="rentang"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="rentang">
            <ion-label color="eventarich">Dari bulan ke- {{dualValue2.lower}} sampai {{dualValue2.upper}}</ion-label>
            <ion-range dualKnobs="true" pin="true" [(ngModel)]="dualValue2" min="1" max="12" step="1" snaps="true" color="eventarich"></ion-range> 
        </ion-item>
    </ion-list>
    
    <button ion-button full ion-button color="eventarich" class="button_bottom" (click)="cariEvent()">Cari</button>

</ion-content>
