page-tambahevent {
    .container{
        padding-top: 50px;
    }
    ion-icon{
        
        padding-left: 250px;
    }
    
    .container {
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
       }
       ion-icon {
        font-size: 40px; //Preferred size here
    }
    ion-header ion-icon.back-button-icon.icon {
        color: map-get($colors, eventarich);
        .toolbar {
            position: absolute;
        
            .toolbar-background {
              background: transparent;
            }
            .toolbar-title {
              color: black;
            }
          }
    }
}
