<!-- Logged Out Menu -->
    <ion-menu id="loggedOutMenu" [content]="nav" persistent="true" swipeEnabled="false">
        <ion-header>
            <ion-toolbar class="lebar-menu" color="eventarich">
                <ion-item id="event_title" no-lines>
                    <h1>eventarich</h1>
                </ion-item>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <button id="menu_button" ion-item menuClose *ngFor="let page of pagesNotLoggedIn" (click)="openPage(page)">
                    <ion-icon [name]="page.icon" [color]="page.color"></ion-icon>
                    {{ page.title }}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>
<!-- Logged In Menu -->
    <ion-menu id="loggedInMenu" [content]="nav" persistent="true" swipeEnabled="false">
        <ion-header>
            <ion-toolbar class="lebar-menu" color="eventarich">
                <ion-item id="event_title" no-lines>
                    <h1>Menu</h1>
                </ion-item>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <button id="menu_button" ion-item menuClose *ngFor="let page of pagesLoggedIn" (click)="openPage(page)">
                    <ion-icon [name]="page.icon" [color]="page.color"></ion-icon>
                    {{ page.title }}
                </button>
            </ion-list>
        </ion-content>
        <ion-footer (click)="about()" class="codepanda-area">
            <ion-toolbar>
                <div class="center" style="text-align: center; vertical-align: middle;">
                    <span>Made with &hearts; by</span>
                </div>
                <div class="codepanda-logo">
                    <img src="assets/imgs/logo-codepanda-flat.png" alt="Made with Love by Codepanda">
                </div>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>

    <ion-nav [root]="rootPage" #nav swipeBackEnabled="true"></ion-nav>