// App Global Sass

.navbar_home {
    width: 100%;
    position: relative;
    .title_home {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .search_home {
        margin-right: 4%;
    }

    .search-bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 20%;
        width: 10%;
        text-align: center;
    }
}

ion-card-content {

    .badge-circle{
        position: relative;
        display: inline-block;
        width: 80%;
        height: 0;
        padding: 40% 0;
        border-radius: 50%;
        text-align: center;
        line-height:0;
    }

}

.badge-header{
    // margin-top: 5vw;
    margin-right: 5vw;
    #add-icon {
        font-size: 10vw;
        font-weight: 400;
    }
}

.lebar-menu{
    height: 7em;
    #event_title {
        background-color: transparent;
        color: map-get($colors, putih);
        h1 {
            font-size: 4rem !important;
        }
    }
}

ion-list {
    #menu_button {
        margin: 2vw;
        font-size: 1.75rem;
    }
}

.button_bottom {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

.transparent-navbar {
    .toolbar {
        position: absolute;
    
        .toolbar-background {
          background: transparent;
        }
        .toolbar-title {
          color: map-get($colors, eventarich);
        }
      }
    ion-icon.back-button-icon.icon {
        color: map-get($colors, eventarich);
    }
}