<ion-header>

  <ion-navbar class="navbar_home" color="eventarich">
    <ion-title>Cari Event</ion-title>

    <ion-buttons class="search_home" end>
      <button (click)="filter()" ion-button icon-only>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>

  <ion-toolbar no-border-top color="transparent">
    <ion-searchbar [(ngModel)]="queryText"></ion-searchbar>
  </ion-toolbar>


</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="eventarich"
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
    
  <ion-card *ngFor="let listEvent of eventsArray"  (click)="lihatEvent(listEvent)" class="cards-list-demo">

    <div class="divisi" [style.background]="makeTrustedImage(listEvent.event_image_path)">
      <div class="like">
        <ion-icon id="like-love" name="custom-heart" color="eventarich"></ion-icon>
        <span id="like-counter">{{listEvent.likes}} likes</span>
      </div>
    </div>


    <ion-card-content *ngIf="listEvent" class="footer_card">
        <ion-row>
          <ion-col col-3 class="col_badge">
            <ion-badge class="badge-circle" >
             {{ listEvent.date_event | dateConvert: 'short'}}
            </ion-badge>  
          </ion-col>
          <ion-col col-9 class="col_content">
            <div class="card_content">
              <h2 id="event_title">{{listEvent.title}}</h2>
              <h3 id="organizer_event" >{{listEvent.userId.name}}</h3>
              <h5 id="hashtag_event">#{{listEvent.categoryevent.name}}</h5>
            </div>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
  
