page-pesanan {
    .add_pesanan {
        font-size: 6vw;
        font-weight: 600;
    }
    
    .order_item {
        margin-top: 1vw;
        border: 1.2px solid map-get($colors, footer);
        border-radius: 10px 0 0 10px;

        .order_item_attribute {
            height: 100%;
            margin-left: 2vw;
        }
    }

    .order_option {
        margin-top: 1vw;
    }
}