page-about-codepanda {
    .logo-codepanda {
        width: 100%;
        margin : 0 auto;
        padding: 10vw;
    }

    ion-toolbar {
        text-align: center;
        vertical-align: middle;
    }
}
